#board.side-toggled {
    overflow-y: scroll !important;
}

.list-wrapper.side-toggled {
    display: block !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 0 15px 4px !important;
}

.list.side-toggled {
    display: block !important;
    overflow: scroll !important;
}

.list-cards.side-toggled {
    display: inline-flex !important;
    flex-direction: inherit !important;

}

.list-card.side-toggled {
    width: 250px !important;
    margin-right: 10px !important;
}

.card-composer-container {
    max-width: 250px;
}